@model RolesApp.Models.RegisterModel

@{
Layout = null;
}

<head>
<title>Вход на сайт</title>
<script src="~/js/vue.js"></script>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css" />

<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

</head>

 

<body class="app-background" id="loginPage">

<div id="app">
<div class="text-center main-login">
{{ message }}
</div>

<div style="margin: auto; width: 385px;font-size: 22px; margin-bottom: 80px; ">
<div class="col-lg-2" style="padding-left: 0;">
 <a asp-action="Login" asp-controller="Account">Вход</a>
</div>
<div class="col-lg-5">
 <span style="color: grey;">Регистрация</span>
</div>
</div>

<div class="sub-login">
<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
<div class="validation" asp-validation-summary="ModelOnly"></div>
<div>
<div>
<div style="padding-bottom: 10px;">
<span>Введите логин</span>
</div>


<div class="form-group">
@*<label asp-for="Email"></label><br />*@
<input class="input-field-default" type="text" asp-for="Email" />
<span asp-validation-for="Email" />
</div>

<div style="padding-bottom: 10px;">
<span>Введите пароль</span>
</div>

<div class="form-group">
@*<label asp-for="Password">Введите пароль</label><br />*@
<input class="input-field-default" asp-for="Password" />
<span asp-validation-for="Password" />
</div>

<div style="padding-bottom: 10px;">
<span>Повторите пароль</span>
</div>

<div class="form-group">
@*<label asp-for="ConfirmPassword">Повторите пароль</label><br />*@
<input class="input-field-default" asp-for="ConfirmPassword" />
<span asp-validation-for="ConfirmPassword" />
</div>
</div>

<div style="padding-bottom: 10px;">
<input asp-for="IsAdministrator" />
<span asp-validation-for="IsAdministrator" />
&nbsp;
<span> Администратор</span>
</div>
 
<div>
@*<label asp-for="IsAdministrator">Администратор</label><br />*@

</div>
<div class="form-group">
<input class="MyBtn" type="submit" value="Регистрация" />
</div>
</div>
</form>
</div>



</div>

<script>
var app = new Vue({
el: '#app',
data: {
message: 'Вход на сайт',
submenu: 'login' //проверить с большой ли буквы и вообще запилить через Enum
}
})
</script>
</body>
